<div class="card form-card col s12 m8 push-m2">
    <div class="card-content ">
        {{ form.csrf_token  }}
        <h5>Course Details</h5>
        <div class="row">
            <div class="input-field col s9">
                <i class="material-icons prefix">short_text</i>
                <label for="icon_prefix">{{ form.course_name.label() }}</label>
                {% if form.course_name.errors %}
                {{  form.course_name() }}
                <div class="invalid-feedback">
                    {% for error in form.course_name.errors %}
                    <span class="error">{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{  form.course_name() }}
                {% endif %}
            </div>

            <div class="input-field col s3">
                <i class="material-icons prefix">assignment</i>
                <label for="icon_prefix">{{ form.par.label() }}</label>
                {% if form.par.errors %}
                {{  form.par() }}
                <div class="invalid-feedback">
                    {% for error in form.par.errors %}
                    <span class="error">{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{  form.par() }}
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">description</i>
                <label for="icon_prefix">{{ form.description.label() }}</label>
                {% if form.description.errors %}
                {{  form.description() }}
                <div class="invalid-feedback">
                    {% for error in form.description.errors %}
                    <span class="error">{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{  form.description() }}
                {% endif %}
            </div>
        </div>

        <h5>Address</h5>

        <!--Address section-->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">add_location</i>
                <label for="icon_prefix">{{ form.address_line_1.label() }}</label>
                {% if form.address_line_1.errors %}
                {{  form.address_line_1() }}
                <div class="invalid-feedback">
                    {% for error in form.address_line_1.errors %}
                    <span class="error">{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{  form.address_line_1() }}
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">add_location</i>
                <label for="icon_prefix">{{ form.address_line_2.label() }}</label>
                {% if form.address_line_2.errors %}
                {{  form.address_line_2() }}
                <div class="invalid-feedback">
                    {% for error in form.address_line_2.errors %}
                    <span class="error">{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{  form.address_line_2() }}
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">add_location</i>
                <label for="icon_prefix">{{ form.address_line_3.label() }}</label>
                {% if form.address_line_3.errors %}
                {{  form.address_line_3() }}
                <div class="invalid-feedback">
                    {% for error in form.address_line_3.errors %}
                    <span class="error">{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{  form.address_line_3() }}
                {% endif %}
            </div>
        </div>

        <!--Region drop down box-->

        <!--<div class="row">
            
        </div>-->

        <div class="row">

            <div class="input-field col s12 l6">
                <i class="material-icons prefix">poll</i>
                <select required autofocus id="region" name="region">

                    {% if selected_region %}
                    <option value="{{selected_region}}" selected>{{ selected_region }}</option>
                    {% else%}
                    <option value="" disabled selected>Choose Region</option>
                    {% endif %}
                    {% for region in regions %}
                    <option value="{{region.name}}">{{region.name}}</option>
                    {% endfor %}
                </select>
                <label>Region</label>
            </div>

            <div class="input-field col s12 l6">
                <i class="material-icons prefix">add_location</i>
                <label for="icon_prefix">{{ form.postcode.label() }}</label>
                {% if form.postcode.errors %}
                {{  form.postcode() }}
                <div class="invalid-feedback">
                    {% for error in form.postcode.errors %}
                    <span class="error">{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{  form.postcode() }}
                {% endif %}
            </div>
        </div>

        <!--Links section-->
        <h5>Links</h5>

        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">photo</i>
                <label for="icon_prefix">{{ form.course_img.label() }}</label>
                {% if form.course_img.errors %}
                {{  form.course_img() }}
                <div class="invalid-feedback">
                    {% for error in form.course_img.errors %}
                    <span class="error">{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{  form.course_img() }}
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">attach_file</i>
                <label for="icon_prefix">{{ form.affiliate_link.label() }}</label>
                {% if form.affiliate_link.errors %}
                {{  form.affiliate_link() }}
                <div class="invalid-feedback">
                    {% for error in form.affiliate_link.errors %}
                    <span class="error">{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{  form.affiliate_link() }}
                {% endif %}
            </div>
        </div>
    </div>
</div>