.gold-star{
    color: goldenrod;

}

.stars span i{
    cursor: pointer;
}

.slider{
    max-height: 70vh;
    display: block;
}

.card-size{
    
    height: 280px;
}
.card-row{
    display: block;
}