/*Global*/
body {
    font-family: 'Roboto Condensed', sans-serif;
}

/*Fonts*/
body h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
}

.field-title {
    font-weight: 700;
}

/*Nav Bar*/

nav {
    background-color: #292c2f;
}

nav .nav-wrapper {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

#mobile-demo {
    background-color: #3e3e3e;
    color: white;
}

#mobile-demo a {
    color: white;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}


/*Homepage*/
.slider .slides li .caption h3 {
    text-shadow: 5px 4px 3px rgba(150, 150, 144, 0.7);
    font-size: 4rem;
}

.slider .slides li .caption h5 {
    text-shadow: 5px 4px 3px rgba(150, 150, 144, 0.7);
}

.parallax-container {
    min-height: 500px;
    line-height: 0;
    color: rgba(255, 255, 255, .9);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background: cover;
}


/*Footer*/
.page-footer {
    background-color: #1f5433;
}

/*Cards*/
.card li {
    font-size: 16px;
}

.featured{
    display: flex;
    align-items: center;
    justify-content: center;
}
.featured-card{
    
    max-width: 700px;
}

.featured-card .card-image img{
    max-height: 400px;
}

.card-title{
    text-shadow: 5px 4px 3px rgba(150, 150, 144, 0.7);
}

.card .region {
    text-transform: capitalize;
}

.card-size {

    height: 280px;
}

.card-row {
    display: block;
}

.top-courses .card .card-image img{
    height: 250px;
}

/*Search*/

.dropdown-content li>span{
    text-transform: capitalize;
    color: #1f5433;
}

/*buttons*/

.btn {
    background-color: #5f9c68;
    font-weight: 700;
    border: #5f9c68 solid 2px;
    border-radius: 8%;
}

.btn:hover {
    background-color: #3e7145;
    border: #3e7145 solid 2px;
}

.btn-register {
    background-color: #ff8f53;
    border: #ff8f53 solid 2px;
    font-size: 16px;
    letter-spacing: 2.5px;
    height: 40px;

}

.btn-register:hover {
    background-color: #d8692e;
    border: #d8692e solid 2px;

}


.gold-star {
    color: goldenrod;

}

.stars span i {
    cursor: pointer;
}

.slider {
    max-height: 70vh;
    display: block;
}


#course-pagination .disabled {
    display: none;
}