<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Course Finder | Finding the best courses</title>
    <link rel="shortcut icon" type="image/png" href="../static/media/images/favicon/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Oswald|Roboto+Condensed:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>

<body>

    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="{{url_for('index')}}" class=" center brand-logo">Play Golf!</a>
                <a href="" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{url_for('index')}}">Home</a></li>
                    <li><a href="/home#nav-search">Search</a></li>
                    {% if not session.logged_in %}
                    <li><a href="{{url_for('login')}}">Login</a></li>
                    <li><a href="{{url_for('register')}}">Register</a></li>
                    {% else %}

                    <li><a href="{{url_for('manage_reviews', page=[0])}}">Manage Reviews</a></li>
                    {% if session.is_admin %}
                    <li><a href="{{url_for('manage_courses', page=[0])}}">Manage Courses</a></li>
                    {% endif %}
                    <li><a href="{{url_for('logout')}}">Logout ({{ session.username }})</a></li>


                    {% endif %}

                </ul>
            </div>
        </nav>

        <ul class="sidenav" id="mobile-demo">
            <li><a href="{{url_for('index')}}">Home</a></li>
            <li><a href="/home#nav-search">Search</a></li>
            {% if not session.logged_in %}
            <li><a href="{{url_for('login')}}">Login</a></li>
            <li><a href="{{url_for('register')}}">Register</a></li>
            {% else %}

            <li><a href="{{url_for('manage_reviews', page=[0])}}">Manage Reviews</a></li>
            {% if session.is_admin %}
            <li><a href="{{url_for('manage_courses', page=[0])}}">Manage Courses</a></li>
            {% endif %}
            <li><a href="{{url_for('logout')}}">Logout ({{ session.username }})</a></li>


            {% endif %}
        </ul>
    </header>

    {% with messages = get_flashed_messages(with_categories=true ) %}
    {% if messages %}
    {% for category,message in messages %}
   
        <div class=" alert">
            <div class="card form-card popup">
                <div class="card-content ">
                    {{message}}
                </div>
            </div>
        </div>
    {% endfor %}
    {%endif%}
    {% endwith %}
    {%block content%}
    {%endblock%}

    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Play Golf!</h5>
                    <p class="grey-text text-lighten-4">Our mission is to help golfers of all ability find the perfect
                        course for them. Whether that be a local gem yet to be discovered or far away paradise. Powered
                        by our community we bring you the very best, British golf has to offer.</p>


                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Pages</h5>
                    <ul class="nav-list">
                        <li><a href="{{url_for('index')}}">Home</a></li>
                        <li><a href="/home#nav-search">Search</a></li>
                        {% if not session.logged_in %}
                        <li><a href="{{url_for('login')}}">Login</a></li>
                        <li><a href="{{url_for('register')}}">Register</a></li>
                        {% else %}

                        <li><a href="{{url_for('manage_reviews', page=[0])}}">Manage Reviews</a></li>
                        {% if session.is_admin %}
                        <li><a href="{{url_for('manage_courses', page=[0])}}">Manage Courses</a></li>
                        {% endif %}


                        {% endif %}
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Connect</h5>
                    <ul class="nav-list">
                        <li><a target="_blank" href="https://www.facebook.com/">Facebook</a></li>
                        <li><a target="_blank" href="https://twitter.com/">Twitter</a></li>
                        <li><a target="_blank" href="https://www.instagram.com/">Instagram</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by <a class="brown-text text-lighten-3" target="_blank" href="https://github.com/SPawson">Sam Pawson</a>
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/star-rating.js') }}"></script>

</body>

</html>