{%extends 'base.html'%}
{%block content%}
<div class="container center-align">
    <h3>Course</h3>

    <div class="row">
        <div class="col s12 m10 push-m1">
            <div class="card left-align">
                <div class="card-image">
                    <img src="{{course.course_img}}">
                    <span class="card-title"> <strong>{{course.course_name}}</strong> </span>
                </div>
                <div class="card-content">
                    <ul>
                        <li><strong>Avg Rating</strong> :
                            {% for star in range(5) %}
                            {% if loop.index <= course.avg_rating %}
                            <i class="material-icons gold-star">star</i>
                            {% else %}
                            <i class="material-icons grey-star">star</i>
                            {% endif %}
                            {% endfor %}
                            <span>({{course.num_reviews}})</span>
                        </li>
                        <li><strong>Description:</strong> {{course.description}} </li>
                        <li><strong>Par:</strong> {{course.par}}</li>
                        <li><strong>Location:</strong> {{course.address_line_1}}, {{course.address_line_2}},
                            {{course.address_line_3}}, {{course.postcode}}</li>
                        <li><strong>Region:</strong> {{course.region}}</li>
                    </ul>

                    <div>
                        <a href="" class="modal-trigger del-btn waves-effect waves-light btn btn_small">Book Now</a>
                        <a href="" class="waves-effect waves-light btn btn_small blue">Write Review</a>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <h3>Reviews</h3>
    <hr>

    {% if reviews|length > 0 %}
    {% for review in reviews %}
    <div class="row">
        <div class="col s12 m10">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col s8">
                            <span>User</span>
                            <span> {% for star in range(5) %}
                                {% if loop.index <= review.star_rating %}
                                <i class="material-icons gold-star">star</i>
                                {% else %}
                                <i class="material-icons grey-star">star</i>
                                {% endif %}
                                {% endfor %}
                                
                            </span>
                        </div>
                        <div class="col s4">
                               <span>{{review.date}}</span> 
                        </div>
                    </div>


                    <span class="card-title">{{review.review_title}}</span>
                    <p>{{review.review_article}}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
        <p>No reviews have been left for this course yet!</p>
    {% endif %}



    

</div>

{% endblock %}