{%extends 'base.html'%}
{%block content%}

{% set page = pagination.page%}
{% set next_page = page + 1%}
{% set prev_page = page - 1%}

<div class="container center-align">
    <h3>Course</h3>

    <div class="row">
        <div class="col s12 m10 push-m1 view">
            <div class="card  left-align">
                <div class="card-image">
                    <img src="{{course.course_img}}">
                    <span class="card-title"> <strong>{{course.course_name}}</strong> </span>
                </div>
                <div class="card-content">
                    <ul>
                        <li><strong><span class="field-title">Avg Rating</span></strong> :
                            {% for star in range(5) %}
                            {% if loop.index <= course.avg_rating %}
                            <i class="material-icons gold-star">star</i>
                            {% else %}
                            <i class="material-icons grey-star">star</i>
                            {% endif %}
                            {% endfor %}
                            <span>({{course.num_reviews}})</span>
                        </li>
                        <li><strong><span class="field-title">Description:</span></strong> {{course.description}} </li>
                        <li><strong><span class="field-title">Par:</span></strong> {{course.par}}</li>
                        <li><strong><span class="field-title">Location:</span></strong> {{course.address_line_1}}, {{course.address_line_2}},
                            {{course.address_line_3}}, {{course.postcode}}</li>
                        <li><strong><span class="field-title">Region:</span></strong> {{course.region}}</li>
                    </ul>

                    <div class="center-align">
                        <a href="{{course.affiliate_link}}" class="modal-trigger waves-effect waves-light btn btn_small">Book</a>
                        {% if session.logged_in %}
                        <a href="{{url_for('add_review',course_id = course._id)}}" class="waves-effect waves-light btn btn_small btn-review">Review</a>
                        {% endif %}
                        {% if session.is_admin %}
                        <a href="{{url_for('edit_course', course_id = course._id)}}"
                            class="waves-effect waves-light btn btn_small btn-edit">Edit</a>
                        {% endif %}
                    </div>


                </div>
            </div>
        </div>
    </div>

    <h3>Reviews</h3>
    <hr>

    {% if pagination.results|length > 0 %}
    {% for review in pagination.results %}
    <div class="row">
        <div class="col s12 m10 push-m1">
            <div class="card review">
                <div class="card-content">
                    <div class="row">
                        <div class="col s8 left-align">
                            <span class="username">{{review.username}}</span>
                            <span> {% for star in range(5) %}
                                {% if loop.index <= review.star_rating %}
                                <i class="material-icons gold-star">star</i>
                                {% else %}
                                <i class="material-icons grey-star">star</i>
                                {% endif %}
                                {% endfor %}
                                
                            </span>
                        </div>
                        <div class="col s4 right-align">
                               <span>{{review.date}}</span> 
                        </div>
                    </div>


                    <span class="card-title">{{review.review_title}}</span>
                    <p>{{review.review_article}}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
        <p>No reviews have been left for this course yet!</p>
    {% endif %}

    <ul class="pagination">
        {% if pagination.prevUrl == True %}
        <li class="waves-effect chev-prev"><a class="btn btn_small btn-pagination" href="{{url_for('view_course', course_id = course._id, page=[prev_page])}}"><i
                    class="material-icons">chevron_left</i></a></li>
        {% else %}
        <li class="waves-effect chev-prev disabled"><a class="btn btn_small btn-pagination" href="{{url_for('view_course', course_id = course._id, page=[prev_page])}}"><i
                    class="material-icons">chevron_left</i></a></li>
        {% endif %}
        {% if pagination.nextUrl == True %}
        <li class="waves-effect chev-next"><a class="btn btn_small btn-pagination" href="{{url_for('view_course', course_id = course._id, page=[next_page])}}"><i
                    class="material-icons">chevron_right</i></a></li>

        {% else %}
        <li class="chev-next disabled"><a class="btn btn_small btn-pagination" href="{{url_for('view_course', course_id = course._id, page=[next_page])}}"><i
                    class="material-icons">chevron_right</i></a></li>
        {% endif %}
    </ul>

    

</div>

{% endblock %}