{%extends 'base.html'%}
{%block content%}

<div class="slider">
    <ul class="slides">
        <li>
            <img src="{{ url_for('static', filename='media/images/index-slider/player.jpg')}}">
            <div class="caption center-align ">
                <h3>Sign Up Today!</h3>
                <h5 class="light grey-text text-lighten-3">Making everyday golf better</h5>
                <a href="{{url_for('register')}}"
                    class="modal-trigger del-btn waves-effect waves-light btn btn_small btn-register">Register</a>
            </div>
        </li>
    </ul>
</div>

<!-- <div class="carousel carousel-slider">
    <div class="caption center-align ">
        <h3>Sign Up Today!</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
    </div>
    <a class="carousel-item" href="#one!"><img src="{{ url_for('static', filename='media/images/index-slider/player.jpg')}}"></a>
    <a class="carousel-item" href="#two!"><img src="{{ url_for('static', filename='media/images/index-slider/course-1.jpg')}}"></a>

  </div> -->


<!--Featured Course-->

<div class="container">
    <div class="section center-align">

        <h4>Featured Course</h4>
        <div class="row">
            <div class="col s12 featured">

                <div class="card featured-card">
                    <div class="card-image">
                        <img  src="{{featured.course_img}}">
                        <h4>
                            <span class="card-title"> {{featured.course_name}}</span>
                        </h4>
                    </div>
                    <div class="card-content left-align">
                        <ul>
                            <li><span class="field-title">Avg Rating</span> :
                                {% for star in range(5) %}
                                {% if loop.index <= featured.avg_rating %}
                                <i class="material-icons gold-star">star</i>
                                {% else %}
                                <i class="material-icons grey-star">star</i>
                                {% endif %}
                                {% endfor %}
                                <span>({{featured.num_reviews}})</span>
                            </li>
                            <li><span class="field-title">Description:</span> {{featured.description}} </li>
                            <li><span class="field-title">Par:</span> {{featured.par}}</li>
                            <li class="region"><span class="field-title">Region:</span> {{featured.region}}</li>
                        </ul>

                        <div class="center-align ">
                            <a href="{{url_for('view_course',load= True ,dir=False ,course_id= featured._id)}}"
                                class="modal-trigger del-btn waves-effect waves-light btn btn_small btn-viewmore">View</a>
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<!--Search Course-->

<div class="parallax-container">
    <div class="parallax">
        <img src="../static/media/images/parallax/course-1.jpg">
    </div>
</div>

<br id="nav-search">

<div class="container">
    <div id="search" class="row center-align">
        <h4>Search</h4>
        <div class="col s12">
            <div class="card">
                <div class="card-content row">

                    <form action="{{url_for('search', searching = True ,dir = false)}}" method="POST" class="col s12">
                        <div class="row">
                            <div class="input-field col s12 left-align">
                                <i class="material-icons prefix">add_location</i>
                                <select autofocus id="region" name="region">
                                    <option value="" disabled selected>Choose Region</option>
                                    {% for region in regions %}
                                    <option value="{{region.name}}">{{region.name}}</option>
                                    {% endfor %}
                                </select>
                                <label for="icon_prefix">Region</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">short_text</i>
                                <input id="review-title" name="course_name" type="text" class="validate">
                                <label for="icon_prefix">Course Name</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                <h5>Minimum Rating</h5>
                                <input class="rating" name="min_rating" type="hidden" value="0">
                                <div class="stars">
                                    <span><i class="material-icons star">star</i></span>
                                    <span><i class="material-icons star">star</i></span>
                                    <span><i class="material-icons star">star</i></span>
                                    <span><i class="material-icons star">star</i></span>
                                    <span><i class="material-icons star">star</i></span>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <button class="btn waves-effect waves-light" type="submit">Search
                                <i class="material-icons right">send</i>
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Top Courses-->

<div class="parallax-container">
    <div class="parallax">
        <img class="" src="../static/media/images/parallax/course-4.jpg">
    </div>
</div>

<div class="container">
    <div class="row center-align top-courses">
        <h4>Top Courses</h4>
        {% for course in tc_courses %}
        <div class="col s12 m8 push-m2 l8 push-l2 xl4">
            <div class="card">
                <div class="card-image">
                    <img class="responsive-img"src="{{course.course_img}}">
                    <h4><span class="card-title"> {{course.course_name}}</span></h4>
                </div>
                <div class="card-content left-align">
                    <ul>
                        <li><span class="field-title">Avg Rating</span> :
                            {% for star in range(5) %}
                            {% if loop.index <= course.avg_rating %}
                            <i class="material-icons gold-star">star</i>
                            {% else %}
                            <i class="material-icons grey-star">star</i>
                            {% endif %}
                            {% endfor %}
                            <span>({{course.num_reviews}})</span>
                        </li>
                        <li><span class="field-title">Par:</span> {{course.par}}</li>
                        <li class="region"><span class="field-title">Region:</span> {{course.region}}</li>
                    </ul>

                    <div class="center-align">
                        <a href="{{url_for('view_course',load= True ,dir=False ,course_id= course._id)}}"
                            class="modal-trigger del-btn waves-effect waves-light btn btn_small">View</a>
                    </div>


                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>



<script type="text/javascript" src="{{ url_for('static', filename='js/star-rating.js') }}"></script>
{% endblock %}