{%extends 'base.html'%}
{%block content%}



<div class="container center-align">
    <div class="row">
        <h3>Login</h3>
        <div class="card form-card col s12 m8 push-m2">
            <div class="card-content ">
                <form action="" method="POST" class="col s12" autocomplete="off">
                    {{  form.hidden_tag()   }}

                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">mail_outline</i>
                            <label for="icon_prefix">{{ form.email.label() }}</label>
                            {% if form.email.errors %}
                            {{  form.email() }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                <span>{{error}}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{  form.email() }}
                            {% endif %}
                        </div>
                    </div>


                    <div class="class row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">dialpad</i>
                            <label for="icon_prefix">{{ form.password.label() }}</label>
                            {% if form.password.errors %}
                            {{  form.password() }}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                <span>{{error}}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{  form.password() }}
                            {% endif %}
                        </div>

                    </div>

                    <div class="row">
                        {{ form.submit(class="btn")}}
                    </div>
                    <div>
                        Don't have an account? Register Today <a href="{{url_for('register')}}">Register</a>
                    </div>
                </form>
            </div>
        </div>
        <!--Add user form details-->
    </div>




</div>


{% endblock %}